<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375869716868-m58ritp3o1laogmrh7ei5prumb6689ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375869716868-m58ritp3o1laogmrh7ei5prumb6689ln</string>
	<key>API_KEY</key>
	<string>AIzaSyBRAcT2mHpjxRmW6ke85KwTlrLuLklBsRo</string>
	<key>GCM_SENDER_ID</key>
	<string>375869716868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcamera</string>
	<key>PROJECT_ID</key>
	<string>djcameraa</string>
	<key>STORAGE_BUCKET</key>
	<string>djcameraa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375869716868:ios:1cf928820e424b484805d1</string>
</dict>
</plist>